/* Pc */
@media screen and (min-width: 1200px) {
    .dot-pc {
        display: none;
    }

    .drawer {
        display: none;
    }

    .menu-header {
        display: none;
    }

    .email-link-pc {
        display: none;
    }

    .project-box__icon--mobile {
        display: none;
    }
}

/* Tablet/Mobile */
@media screen and (max-width: 1199.98px) {
}

/* Tablet*/
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .container {
        --spacer: 40px;
    }

    .btn {
        font-size: 1.6rem;
    }

    .inner {
        border-bottom: 1px solid #d6d3e2;
        padding-bottom: 15px;
    }

    .nav-list {
        display: none;
    }

    .menu {
        display: flex;
        column-gap: 10px;
        order: 2;
    }

    .logo {
        width: 37px;
        height: 44px;
        object-fit: cover;
    }

    .email-logo {
        width: 15px;
    }

    .email {
        width: 32px;
        height: 32px;
    }

    .menu-header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 2px solid #5d3bee33;
    }

    .email-link {
        display: none;
    }

    .email-link-pc {
        display: inline-block;
    }

    .menu-img {
        width: 15px;
    }

    .overlay {
        z-index: 3;
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: 0.25s;
    }

    .drawer {
        padding: 20px 40px;
        position: fixed;
        inset: 0 0 0 40%;
        background: #fff;
        z-index: 3;
        transform: translateX(100%);
        transition: 0.25s;
    }

    .drawer .logo {
        width: 100px;
        height: 100px;
    }

    .menu-close {
        color: #5d3bee;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 40px;
        right: 4px;
    }

    .nav-menu {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }

    .nav-menu > .nav-items {
        padding: 20px 0;
    }

    .menu-checkbox:checked ~ .overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .drawer {
        transform: translateX(0);
    }

    .hero {
        padding-top: 50px;
        margin-top: 0;
    }

    .hero-inner {
        row-gap: 20px;
        grid-template-columns: 1fr;
    }

    .hero-media {
        width: 100%;
        margin: 20px 0 0 65px;
        order: 2;
    }

    .hero-heading {
        width: 260px;
        font-size: 4.2rem;
        line-height: 1.19;
    }

    .hero-desc {
        width: 318px;
        font-size: 1.6rem;
        line-height: 1.62;
    }

    .btn {
        height: 55px;
    }

    .hero {
        overflow: hidden;
    }

    .hero-action {
        column-gap: 40px;
    }

    .hero-btn {
        min-width: 147px;
    }

    .hero-link {
        font-size: 1.6rem;
    }

    .hero-social {
        margin-top: 30px;
    }

    .hero-img {
        width: 259px;
        height: 355px;
        object-fit: cover;
    }

    .hero-icon-large {
        top: -80px;
        left: 32%;
        transform: translateX(-50%);
        width: 150%;
    }

    .hero-logo__small {
        display: none;
    }

    .brand {
        margin-top: 120px;
    }

    .brand-inner {
        justify-content: center;
        flex-wrap: wrap;
    }

    .brand-heading::before {
        width: 48px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .brand-heading {
        margin-top: 5px;
        text-align: center;
        width: 170px;
        font-size: 2.8rem;
        margin-left: 0;
    }

    .brand-row {
        margin-top: 42px;
        grid-template-columns: 1fr 1fr;
    }

    .special {
        margin-top: 131px;
    }

    .special-heading {
        width: 181px;
        font-size: 3.6rem;
        margin-left: auto;
        margin-right: auto;
    }

    .special-desc {
        margin-top: 20px;
        width: 350px;
        font-size: 1.6rem;
    }

    .special-box {
        width: 350px;
        margin-top: 50px;
        padding: 33px 50px;
    }

    .special > .row {
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .special-box__icon {
        width: 62px;
        height: 62px;
    }

    .special-box__heading {
        font-size: 2.8rem;
    }

    .special-box__desc {
        font-size: 1.6rem;
    }

    .dot {
        margin-top: 30px;
    }

    .project {
        margin-top: 120px;
    }

    .project-header {
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }

    .project-heading {
        font-size: 3.6rem;
    }

    .project-desc {
        width: 350px;
        font-size: 1.6rem;
        margin: 20px 0 0 0;
    }

    .project-box {
        padding: 20px 15px;
    }

    .project-content__heading {
        font-size: 2.4rem;
    }

    .project-content__desc {
        width: 176px;
        font-size: 1.4rem;
    }

    .project-content__more {
        font-size: 1.6rem;
    }

    .project-media__img {
        width: 122px;
        height: 93px;
    }

    .project-box__icon {
        display: none;
    }

    .project-box__icon--mobile {
        width: 80%;
        position: absolute;
        top: 0;
        right: 0;
    }

    .project-action {
        margin-top: 50px;
    }

    .project-btn {
        min-width: 154px;
        height: 56px;
    }

    .inter {
        margin-top: 120px;
    }

    .inter-header__title {
        font-size: 2rem;
    }

    .inter-header__icon {
        width: 18px;
        height: 18px;
        margin-left: 4px;
    }

    .inter-header__heading {
        font-size: 3.6rem;
    }

    .inter-header__desc {
        margin-top: 20px;
        width: 350px;
        font-size: 1.6rem;
    }

    .inter-body {
        width: 318px;
        margin-top: 50px;
        column-gap: 50px;
    }

    .inter-body__col {
        padding: 30px 0;
    }

    .inter-body__number {
        font-size: 3rem;
    }

    .inter-body__desc {
        width: 74px;
        font-size: 1.6rem;
        white-space: wrap;
    }

    .inter-media {
        height: 276px;
    }

    .inter-media__video,
    .inter-media__img {
        height: 100%;
    }

    .inter-media__label {
        width: 77px;
        height: 77px;
    }

    .inter-media__label > img {
        width: 10px;
        height: 10px;
    }

    .inter-media__btn {
        min-width: 118px;
        height: 44px;
        font-size: 1.2rem;
        line-height: 2.5;
    }

    .inter-footer {
        margin-top: 120px;
    }

    .inter-footer__heading {
        font-size: 3.6rem;
    }

    .inter-footer__desc {
        width: 350px;
        font-size: 1.6rem;
    }

    .inter-comment {
        width: 100%;
        margin-top: 40px;
    }

    .inter-comment__desc {
        width: 350px;
        font-size: 1.8rem;
        margin-left: auto;
        margin-right: auto;
    }

    .inter-comment__row {
        margin-top: 48px;
    }

    .dot {
        margin-top: 20px;
    }

    .inter-footer__icon-1,
    .inter-footer__icon-2 {
        width: 100px;
        height: 70px;
    }

    .question {
        width: 100%;
        margin-top: 120px;
    }

    .question-heading {
        width: 316px;
        font-size: 3.6rem;
    }

    .question-form {
        margin-top: 42px;
    }

    .question-item__content {
        width: 265px;
    }

    .question-item__active {
        font-size: 2.4rem;
    }

    .question-item__desc {
        width: 316px;
        font-size: 1.6rem;
    }

    .question-list__radio:checked
        ~ .question-item
        > .question-item__content
        > .question-item__desc {
        margin-top: 15px;
    }

    .atmosphere {
        margin-top: 120px;
    }

    .atmosphere > .dot {
        margin-top: 40px;
    }

    .atmosphere__heading {
        margin-top: 3.6rem;
    }

    .atmosphere__desc {
        width: 350px;
        font-size: 1.6rem;
    }

    .atmosphere__email {
        margin-top: 10px;
        font-size: 2rem;
    }

    .atmosphere__media {
        margin-top: 60px;
    }

    .atmosphere__media > .row {
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .call {
        margin-top: 120px;
    }

    .call__img-1 {
        top: -170px;
        left: 58%;
    }

    .call__img-2,
    .call__img-3 {
        display: none;
    }

    .call__img {
        width: 48px;
        height: 48px;
    }

    .call__heading {
        width: 255px;
        margin-left: auto;
        margin-right: auto;
        font-size: 3.6rem;
    }

    .call__desc {
        width: 350px;
        font-size: 1.6rem;
    }

    .call__btn {
        min-width: 147px;
    }

    .footer {
        margin-top: 120px;
    }

    .inner__footer {
        flex-direction: column;
        border: none;
    }

    .email__footer {
        margin-top: 58px;
        order: 2;
    }

    .logo__footer {
        width: 100px;
        height: 100px;
    }

    .footer-nav > .nav-list {
        display: flex;
    }

    .email__footer > .email {
        width: 46px;
        height: 46px;
    }

    .email-link__footer {
        display: inline-block;
    }

    .footer__separated {
        display: none;
    }

    .footer__copyright {
        margin-top: 57px;
        flex-wrap: wrap;
    }

    .copyright {
        margin-top: 20px;
        order: 2;
    }

    .copyright__row {
        padding-bottom: 30px;
        border-bottom: 2px solid #0c072033;
    }

    .copyright__separate {
        margin-top: 20px;
        order: 2;
    }
}
